.navbar-toggler {
  border: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

html[dir='rtl'],
[data-sonner-toaster][dir='rtl'] {
  --toast-button-margin-start: auto !important;
  --toast-button-margin-end: 0 !important;
}