@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'fonts';

@import 'nprogress/nprogress';
@import 'overrides';

:root {
  --navbar-height: 70px;
  --app-font-size: 16px;

  @media screen and (min-width: 768px) {
    --navbar-height: 85;
  }
}

html {
  font-size: var(--app-font-size);
}

html,
body {
  font-family:
    'IBM Plex Sans Arabic',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.btn-flat,
.btn-flat:active,
.btn-flat:focus {
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}
