@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('../fonts/NotoSansArabic-Regular.ttf') format('truetype');
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: 'Hafs';
  src: url('../fonts/Hafs.ttf') format('truetype');
  font-style: normal;
  display: swap;
}
