.card {
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  padding: 3rem;
  transition: border-color 0.2s;
  cursor: default;
}

.clickable {
  cursor: pointer;

  &:hover {
    border-color: var(--bs-primary);
  }
}
